

td,th{
 padding: 7px;
 text-align: center;
 }
input{
  margin-right: 80%;
  margin-bottom: 10px;
}
 
 h4{
    color: chocolate;
 }
 p{
   color: #000000;
   border: 1px;
 }
 img{
   width: 100px;
   height: 100px;
   margin: 30px;
 }
#Signup{
  color: aliceblue;
  margin: 10px;
  padding-bottom: 20px;
}
 form{
  padding: 30px;
  margin: 10px;
  
 }
 #header li {
    display: inline;
   text-align: center;
   
    margin: 0;
    width: 20%;
  }
  .container {
    max-width: 100% ;
    margin: 0%;
    padding: 0%;
  }
  #header {
    background-color: #e0d9df;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #header li a {
    color: #212121;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
  }

  .order{
    margin: 0;
    color: white;
  }
  .order1{
    margin-bottom: 30px;
  }
  
  .dark-mode {
    background-color:black;
    color: white;
  }
  .body{
    background-color: gray;
  }

  .blackBg {
    background-color: black;
  }
  .blackButton{
    background-color: black;
    color: white;
  }
  
  .whiteButton{
    background-color: white;
    color: black;
  }
  #dark{
    margin: 0px;
 
  }
#updateproduct{
 float: left;
 width: 37%;
}
#updateuser{
  float: left;
  width: 30%;
  margin-left:25px;
  padding: 0%;
}
table{
  float: left;
  width: 60%;
  margin-top: 10%;
}
#addproductform{
  width: 60%;
}
#root{
  width: 100%;
  margin: 0%;
  padding: 0%;
}
#orderitem{
  display: inline-block;
  width: 30%;
}
#loginform{
width: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
}